{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block custom_head_css_js %}
    <link href="{% static 'css/plugins/ztree/awesomeStyle/awesome.css' %}" rel="stylesheet">
{#    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">#}
    <script type="text/javascript" src="{% static 'js/plugins/ztree/jquery.ztree.all.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.min.js' %}"></script>
	<style type="text/css">
        div#rMenu {
            position:absolute;
            visibility:hidden;
            text-align: left;
            {#top: 100%;#}
            top: 0;
            left: 0;
            z-index: 1000;
            {#float: left;#}
            padding: 0 0;
            margin: 2px 0 0;
            list-style: none;
            background-clip: padding-box;
         }
        .dataTables_wrapper .dataTables_processing {
            opacity: .9;
            border: none;
        }
        div#rMenu li{
        	margin: 1px 0;
        	cursor: pointer;
        	list-style: none outside none;
         }
        .dropdown a:hover {
            background-color: #f1f1f1
        }
	</style>

{% endblock %}

{% block content %}
<div class="wrapper wrapper-content">
   <div class="row">
       <div class="col-lg-3" id="split-left" style="padding-left: 3px">
           <div class="ibox float-e-margins">
               <div class="ibox-content mailbox-content" style="padding-top: 0;padding-left: 1px">
                   <div class="file-manager ">
                       <div id="assetTree" class="ztree">
                       </div>
                       <div class="clearfix"></div>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-9 animated fadeInRight" id="split-right">
           <div class="tree-toggle">
               <div class="btn btn-sm btn-primary tree-toggle-btn" onclick="toggle()">
                   <i class="fa fa-angle-left fa-x" id="toggle-icon"></i>
               </div>
           </div>
           <div class="mail-box-header">
               <div class="uc pull-left m-r-5">
                   <a class="btn btn-sm btn-primary btn-sync-asset"> {% trans "Sync asset" %} </a>
                   <a class="btn btn-sm btn-primary btn-unallocated-asset"> {% trans "Unallocated asset" %} </a>
               </div>
               <div class="" style="float: right">
                   <div class=" btn-group">
                        <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">CSV <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class=" btn_export" tabindex="0">
                                <span>{% trans "Export" %}</span>
                                </a>
                            </li>
                        </ul>
                   </div>
               </div>
               <table class="table table-striped table-bordered table-hover " id="asset_list_table" style="width: 100%">
                   <thead>
                       <tr>
                           <th class="text-center"><input type="checkbox" class="ipt_check_all"></th>
                           <th class="text-center">{% trans 'InstanceName' %}</th>
                           <th class="text-center">{% trans 'IP' %}</th>
                           <th class="text-center">{% trans 'Region' %}</th>
                           <th class="text-center">{% trans 'Status' %}</th>
                           <th class="text-center">{% trans 'CreateTime' %}</th>
                       </tr>
                   </thead>
                   <tbody>
                   </tbody>
               </table>
                <div id="actions" class="hide">
                   <div class="input-group">
                       <select class="form-control m-b" style="width: auto" id="slct_bulk_update">
                           <option value="remove">{% trans 'Remove from this node' %}</option>
                           <option value="replace">{% trans 'Move assets' %}</option>
                       </select>
                       <div class="input-group-btn pull-left" style="padding-left: 5px;">
                           <button id='btn_bulk_update' style="height: 32px;"  class="btn btn-sm btn-primary">
                            {% trans 'Submit' %}
                           </button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>

<div id="rMenu">
    <ul class="dropdown-menu">
        <li class="divider"></li>
        <li id="menu_asset_add" class="btn-add-asset" data-toggle="modal" data-target="#asset_list_modal" tabindex="0"><a><i class="fa fa-copy"></i> {% trans 'Add assets to node' %}</a></li>
        <li id="menu_asset_move" class="btn-move-asset" data-toggle="modal" data-target="#asset_list_modal" tabindex="0"><a><i class="fa fa-cut"></i> {% trans 'Move assets to node' %}</a></li>
        <li class="divider"></li>
        <li id="show_current_asset" class="btn-show-current-asset" style="display: none;" tabindex="-1"><a><i class="fa fa-hand-o-up"></i> {% trans 'Display only current node assets' %}</a></li>
        <li id="show_all_asset" class="btn-show-all-asset" style="display: none;" tabindex="-1"><a><i class="fa fa-th"></i> {% trans 'Displays all child node assets' %}</a></li>
{#        <li id="fresh_tree" class="btn-refresh-tree" tabindex="-1"><a><i class="fa fa-refresh"></i> {% trans 'Refresh' %}</a></li>#}
    </ul>
</div>
{% include 'alicloud/_slb_list_modal.html' %}
{% endblock %}

{% block custom_foot_js %}
<script>
var zTree, rMenu, asset_table, show = 0;
var update_node_action = "";
var current_node_id = null;
var current_node = null;
function initTable() {
    var options = {
        ele: $('#asset_list_table'),
        columnDefs: [
            {targets: 1, createdCell: function (td, cellData, rowData) {
                cellData = htmlEscape(cellData);
                {% url 'assets:asset-detail' pk=DEFAULT_PK as the_url  %}
                var html = '<p>'+ rowData.instance_id +'</p>'
{#                html += '<a href="{{ the_url }}">' + cellData + '</a>'#}
                html += cellData
                $(td).html(html.replace('{{ DEFAULT_PK }}', rowData.id));
            }},
            {targets: 2, createdCell: function (td, cellData, rowData) {
                var html = cellData
                if (rowData.address_type == 'internet'){
                  html += '(公)'
                }else {
                  html += '(内)'
                }
                $(td).html(html);
            }},
            {targets: 4, createdCell: function (td, cellData) {
                if (cellData === 'active'){
                    $(td).html('<i class="fa fa-circle text-navy"></i>')
                } else if (cellData === 'Destory') {
                    $(td).html('<i class="fa fa-circle text-danger"></i>')
                } else {
                    $(td).html('<i class="fa fa-circle text-warning"></i>')
                }
            }},
            {targets: 5, createdCell: function (td, cellData, rowData) {
                var html = '';
                html += new Date(htmlEscape(cellData)).toLocaleDateString();
                $(td).html(html);
            }},
        ],
        ajax_url: '{% url "api-alicloud:slb-list" %}',
        columns: [
            {data: "id"}, {data: "instance_name" }, {data: "address" },
            {data: "region", orderable: false},
            {data: "status"}, {data: "create_time" }
        ],
        op_html: $('#actions').html()
    };
    asset_table = jumpserver.initServerSideDataTable(options);
    return asset_table
}



function OnRightClick(event, treeId, treeNode) {
    if (!treeNode && event.target.tagName.toLowerCase() !== "button" && $(event.target).parents("a").length === 0) {
		zTree.cancelSelectedNode();
		showRMenu("root", event.clientX, event.clientY);
	} else if (treeNode && !treeNode.noR) {
		zTree.selectNode(treeNode);
		showRMenu("node", event.clientX, event.clientY);
	}
}

function showRMenu(type, x, y) {
	$("#rMenu ul").show();
    x -= 220;
    x += document.body.scrollLeft;
    y += document.body.scrollTop+document.documentElement.scrollTop;
    rMenu.css({"top":y+"px", "left":x+"px", "visibility":"visible"});

	$("body").bind("mousedown", onBodyMouseDown);
}

function beforeClick(treeId, treeNode, clickFlag) {
    return true;
}

function hideRMenu() {
	if (rMenu) rMenu.css({"visibility": "hidden"});
	$("body").unbind("mousedown", onBodyMouseDown);
}

function onBodyMouseDown(event){
	if (!(event.target.id === "rMenu" || $(event.target).parents("#rMenu").length>0)) {
		rMenu.css({"visibility" : "hidden"});
	}
}


function onRename(event, treeId, treeNode, isCancel){
    var url = "{% url 'api-assets:node-detail' pk=DEFAULT_PK %}".replace("{{ DEFAULT_PK }}", current_node_id);
    var data = {"value": treeNode.name};
    if (isCancel){
        return
    }
    APIUpdateAttr({
        url: url,
        body: JSON.stringify(data),
        method: "PATCH",
        success_message: "{% trans 'Rename success' %}",
        fail_message: "{% trans 'Rename failed, do not change the root node name' %}",
        success: function () {
            treeNode.name = treeNode.name + ' (' + treeNode.meta.node.assets_amount + ')'
            zTree.updateNode(treeNode);
            console.log("Success: " + treeNode.name)
        }
    })
}

function onSelected(event, treeNode) {
    current_node = treeNode;
    current_node_id = treeNode.meta.node.id;
    zTree.expandNode(current_node, true);
    var url = asset_table.ajax.url();
    url = setUrlParam(url, "node_id", current_node_id);
    url = setUrlParam(url, "show_current_asset", getCookie('show_current_asset'));
    url = setUrlParam(url, "unallocated", '');
    setCookie('node_selected', treeNode.node_id);
    asset_table.ajax.url(url);
    asset_table.ajax.reload();
}

function selectQueryNode() {
    // TODO: 是否应该添加
    // 暂时忽略之前选中的内容
    return
    var query_node_id = $.getUrlParam("node");
    var cookie_node_id = getCookie('node_selected');
    var node;
    var node_id;

    if (query_node_id !== null) {
        node_id = query_node_id
    } else if (cookie_node_id !== null) {
        node_id = cookie_node_id;
    }

    node = zTree.getNodesByParam("node_id", node_id, null);
    if (node){
        zTree.selectNode(node[0]);
    }
}

function beforeDrag() {
    return true
}

function beforeDrop(treeId, treeNodes, targetNode, moveType) {
    var treeNodesNames = [];
    $.each(treeNodes, function (index, value) {
        treeNodesNames.push(value.name);
    });

    var msg = "你想移动节点: `" + treeNodesNames.join(",") + "` 到 `" + targetNode.name + "` 下吗?";
    return confirm(msg);
}

function onDrag(event, treeId, treeNodes) {
}

function onDrop(event, treeId, treeNodes, targetNode, moveType) {
    var treeNodesIds = [];
    $.each(treeNodes, function (index, value) {
        treeNodesIds.push(value.meta.node.id);
    });

    var the_url = "{% url 'api-assets:node-add-children' pk=DEFAULT_PK %}".replace("{{ DEFAULT_PK }}", targetNode.meta.node.id);
    var body = {nodes: treeNodesIds};
    APIUpdateAttr({
        url: the_url,
        method: "PUT",
        body: JSON.stringify(body)
    })
}

function initTree() {
    if (zTree) {
        return
    }
    var url = '{% url 'api-alicloud:node-children-tree' %}?type=slb&assets=0&all=';
    var showCurrentAsset = getCookie('show_current_asset');
    if (!showCurrentAsset) {
        url += '1'
    }
    var setting = {
        view: {
            dblClickExpand: false,
            showLine: true
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        async: {
			enable: true,
			url: url,
			autoParam: ["id=key", "name=n", "level=lv"],
            type: 'get'
		},
        edit: {
            enable: true,
			showRemoveBtn: false,
			showRenameBtn: false,
            drag: {
                isCopy: true,
                isMove: true
            }
        },
        callback: {
            onRightClick: OnRightClick,
            beforeClick: beforeClick,
            onRename: onRename,
            onSelected: onSelected,
            beforeDrag: beforeDrag,
            onDrag: onDrag,
            beforeDrop: beforeDrop,
            onDrop: onDrop
        }
    };

    var zNodes = [];
    zTree = $.fn.zTree.init($("#assetTree"), setting, zNodes);
    rMenu = $("#rMenu");
}

function toggle() {
    if (show === 0) {
        $("#split-left").hide(500, function () {
            $("#split-right").attr("class", "col-lg-12");
            $("#toggle-icon").attr("class", "fa fa-angle-right fa-x");
            show = 1;
        });
    } else {
        $("#split-right").attr("class", "col-lg-9");
        $("#toggle-icon").attr("class", "fa fa-angle-left fa-x");
        $("#split-left").show(500);
        show = 0;
    }
}

$(document).ready(function(){
    initTable();
    initTree();

    if(getCookie('show_current_asset') === '1'){
        $('#show_all_asset').css('display', 'inline-block');
    }
    else{
        $('#show_current_asset').css('display', 'inline-block');
    }
})
.on('click', '.labels li', function () {
    var val = $(this).text();
    $("#asset_list_table_filter input").val(val);
    asset_table.search(val).draw();
 })
.on('click', '.btn_export', function () {
    var assets = asset_table.selected;
    var data = {
        'resources': assets
    };
    var search = $("input[type='search']").val();
    var props = {
        method: "POST",
        body: JSON.stringify(data),
        success_url: "{% url 'api-assets:asset-list' %}",
        format: 'csv',
        params: {
            search: search,
            node_id: current_node_id || ''
        }
    };
    APIExportData(props);
})
.on('click', '.btn-sync-asset', function() {
    var url = "{% url 'api-alicloud:slb-sync' %}";
    function success(data) {
        rMenu.css({"visibility" : "hidden"});
        var task_id = data.task;
        var url = '{% url "ops:celery-task-log" pk=DEFAULT_PK %}'.replace("{{ DEFAULT_PK }}", task_id);
        window.open(url, '', 'width=800,height=600')
    }
    APIUpdateAttr({
        url: url,
        method: "POST",
        success: success,
        flash_message: false
    });
})
.on('click', '.btn-unallocated-asset', function () {
          var url = asset_table.ajax.url();
          url = setUrlParam(url, "unallocated", true);
          asset_table.ajax.url(url);
          asset_table.ajax.reload();
})
.on('click', '.btn-show-current-asset', function(){
    hideRMenu();
    $(this).css('display', 'none');
    $('#show_all_asset').css('display', 'inline-block');
    setCookie('show_current_asset', '1');
    location.reload();
})
.on('click', '.btn-show-all-asset', function(){
    hideRMenu();
    $(this).css('display', 'none');
    $('#show_current_asset').css('display', 'inline-block');
    setCookie('show_current_asset', '');
    location.reload();
})
.on('click', '#menu_refresh_assets_amount', function () {
    hideRMenu();
    var url = "{% url 'api-assets:refresh-assets-amount' %}";
    APIUpdateAttr({
        'url': url,
        'method': 'GET'
    });
    window.location.reload();
})
.on('click', '#btn_bulk_update', function () {
    var action = $('#slct_bulk_update').val();
    var id_list = asset_table.selected;
    console.log('selected', id_list)
    if (id_list.length === 0) {
        toastr.error("请选择资产!");
        return false;
    }
    var the_url = "{% url 'api-assets:asset-list' %}";
    var data = {
        'resources': id_list
    };
    function refreshTag() {
        $('#asset_list_table').DataTable().ajax.reload();
    }

    function doReplace() {
        update_node_action = 'replace';
        $('#asset_list_modal').modal('show');
    }

    function doRemove() {
        var nodes = zTree.getSelectedNodes();
        if (!current_node_id) {
           return
        }

        var data = {
           'assets': id_list
        };

        var success = function () {
           asset_table.ajax.reload()
        };

        var url = "{% url 'api-alicloud:node-remove-slb' pk=DEFAULT_PK %}".replace("{{ DEFAULT_PK }}", current_node_id);
        APIUpdateAttr({
           'url': url,
           'method': 'PUT',
           'body': JSON.stringify(data),
           'success': success
        })
    }

    switch(action) {
        case 'remove':
            doRemove();
            break;
        case 'replace':
            doReplace();
            break;
        default:
            break;
    }
    $(".ipt_check_all").prop("checked", false)
})
.on('click', '#btn_asset_modal_confirm', function () {
    var assets_selected = asset_table2.selected;
    console.log(current_node_id2)
    if (!current_node_id && !current_node_id2) {
        return
    }

    var data = {'assets': assets_selected};
    var success = function () {
        asset_table2.selected = [];
        asset_table2.ajax.reload()
    };

    var url = '';
    if (update_node_action === "move") {
        url = "{% url 'api-alicloud:node-replace-slb' pk=DEFAULT_PK %}".replace("{{ DEFAULT_PK }}", current_node_id);
    } else if (update_node_action === 'replace') {
        data = {
           'assets': asset_table.selected
        };
        url = "{% url 'api-alicloud:node-replace-slb' pk=DEFAULT_PK %}".replace("{{ DEFAULT_PK }}", current_node_id2);
    } else {
        url = "{% url 'api-alicloud:node-add-slb' pk=DEFAULT_PK %}".replace("{{ DEFAULT_PK }}", current_node_id);
    }

    console.log(url)

    APIUpdateAttr({
        'url': url,
        'method': 'PUT',
        'body': JSON.stringify(data),
        'success': success
    })
}).on('hidden.bs.modal', '#asset_list_modal', function () {
    window.location.reload();
}).on('click', '#menu_asset_add', function () {
    update_node_action = "add"
}).on('click', '#menu_asset_move', function () {
    update_node_action = "move"
})

</script>

{% endblock %}