{% load static %}
{% load i18n %}
<head>
    <title>{% trans 'Task log' %}</title>
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/plugins/xterm/xterm.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/plugins/xterm/xterm.css' %}" />
    <style>
        body {
            background-color: black;
        }
    </style>
</head>
<div id="term" style="position:fixed;height: 100%;width: 100%">
</div>

<script>
    let rowHeight = 18;
    let colWidth = 10;
    let fontSize = 12;
    let mark = '';
    let url = "{% url 'api-ops:celery-task-log' pk=task_id %}";
    let term;
    let end = false;
    let error = false;
    let interval = 200;
    let success = true;

    function resize() {
       let rows = Math.floor(window.innerHeight / (fontSize + 2)) - fontSize;
       let cols = Math.floor(window.innerWidth / fontSize * 1.78) - fontSize;
       term.resize(cols, rows);
    }
    function requestAndWrite() {
        if (!end && success) {
            success = false;
            $.ajax({
                url: url + '?mark=' + mark,
                method: "GET",
                contentType: "application/json; charset=utf-8"
            }).done(function(data, textStatue, jqXHR) {
                success = true;
                if (jqXHR.status === 203) {
                    error = true;
                    term.write('.');
                    interval = 500;
                }
                if (jqXHR.status === 200){
                    term.write(data.data);
                    mark = data.mark;
                    if (data.end){
                        end = true
                    }
                }
            })
        }
    }
    $(document).ready(function () {
        term = new Terminal({
            cursorBlink: false,
            screenKeys: false,
            fontFamily: '"Monaco", "Consolas", "monospace"',
            fontSize: fontSize,
            rightClickSelectsWord: true,
            disableStdin: true
        });
        term.open(document.getElementById('term'));
        // term.resize(290, 10);
        resize();
        term.on('data', function (data) {
            {#term.write(data.replace('\r', '\r\n'))#}
            term.write(data);
        });
        window.onresize = function () {
            resize();
        };
        {#$('.terminal').detach().appendTo('#term');#}
        setInterval(function () {
            requestAndWrite()
        }, interval)
    });
</script>
