{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}
{% load common_tags %}
{% block custom_head_css_js %}
    <link href="{% static 'css/plugins/datepicker/datepicker3.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="tab-content">
                        <div class="ibox-content" style="border-width: 0;padding-top: 40px;">
                            <div class="uc pull-left m-r-10" style="padding-bottom: 5px">
                                <button class="btn btn-sm btn-primary btn-template-create"> {% trans "创建任务" %} </button>
                                <form action="" class="form-inline" style="display: inline-block;padding-left: 20px;">
                                    <div class="form-group" id="date">
                                        <div class="input-daterange input-group" id="datepicker"
                                             data-provide="datepicker">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text"
                                                   class="input-sm form-control date-search"
                                                   style="width: 150px;"
                                                   name="date_from">
                                            <span class="input-group-addon">to</span>
                                            <input type="text"
                                                   class="input-sm form-control date-search"
                                                   style="width: 150px;"
                                                   name="date_to">
                                        </div>
                                    </div>

                                </form>

                            </div>

                            <table class="table table-striped table-bordered table-hover "
                                   id="file_execution_list_table"
                                   style="width: 100%">
                                <thead>
                                <tr>
                                    <th class="text-center"><input type="checkbox" class="ipt_check_all"></th>
                                    <th class="text-center">{% trans 'Name' %}</th>
                                    <th class="text-center">{% trans 'Host' %}</th>
                                    <th class="text-center">{% trans 'User' %}</th>
                                    <th class="text-center">{% trans 'Success' %}</th>
                                    <th class="text-center">{% trans 'Output' %}</th>
                                    <th class="text-center">{% trans 'Date' %}</th>

                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                            <div id="actions" class="hide">
                                <div class="input-group">
                                    <select class="form-control m-b" style="width: auto" id="slct_bulk_update">
                                        <option value="remove">删除</option>
                                    </select>
                                    <div class="input-group-btn pull-left" style="padding-left: 5px;">
                                        <button id='btn_bulk_update' style="height: 32px;"
                                                class="btn btn-sm btn-primary">
                                            {% trans 'Submit' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% include 'ops/_json_content_modal.html' %}
{% endblock %}

{% block custom_foot_js %}
    <script src="{% static 'js/plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <script>
      var asset_table = 0
      var date_from = "{{ date_from|date:'Y-m-d' }}"
      var date_to = "{{ date_to|date:'Y-m-d' }}"
      var asset_table_data = {}

      function showInfo(asset_id) {
        var $body_modal = $('#content_modal')
        $body_modal.modal({show: true})
        $('#content-body').empty().text(JSON.stringify(asset_table_data[asset_id], null, 4))
        $body_modal.modal({show: true})
      }

      function initTable() {
        var options = {
          ele: $('#file_execution_list_table'),
          columnDefs: [
            {
              targets: 1, createdCell: function (td, cellData, rowData) {
                var html = ''
                html += '<a href="###" onclick="showInfo(\'' + rowData.id + '\')">' + cellData + '</a>'
                asset_table_data[rowData.id] = rowData
                $(td).html(html);
              }
            },
            {
              targets: 4, createdCell: function (td, cellData) {
                var html = cellData ? '<i class ="fa fa-check text-navy"> </i>' : '<i class ="fa fa-times text-danger"> </i>'
                $(td).html(html);
              },
            },
            {
              targets: 5, createdCell: function (td, cellData) {
                var html = ''
                html += '<a target="_blank" href="' + cellData + '">查看</a>'
                $(td).html(html);
              },
            },
            {
              targets: 6, createdCell: function (td, cellData) {
                var html = ''
                html += new Date(htmlEscape(cellData)).toLocaleDateString();
                $(td).html(html);
              },
            },
          ],
          ajax_url: '{% url "api-ops:file-deploy-executions-list" %}?date_from=' + date_from + '&date_to=' + date_to,
          columns: [
            {data: "id", orderable: false},
            {data: "name", orderable: false},
            {data: "hostname", orderable: false},
            {data: "username", orderable: false},
            {data: "is_success"},
            {data: "log_url", orderable: false},
            {data: "date_created"},
          ],
          op_html: $('#actions').html()
        };
        asset_table = jumpserver.initServerSideDataTable(options);
        return asset_table
      }

      $(document).ready(function () {
        initTable()
        $('input[name="date_from"]').val(date_from)
        $('input[name="date_to"]').val(date_to)
        $('#datepicker').datepicker({
          format: "yyyy-mm-dd",
          todayBtn: "linked",
          startDate: '-3d',
          keyboardNavigation: false,
          forceParse: false,
          calendarWeeks: true,
          autoclose: true,
        }).on('changeDate', function () {
          console.log(this)
          date_from = $('input[name="date_from"]').val()
          date_to = $('input[name="date_to"]').val()
          asset_table.ajax.url('{% url "api-ops:file-deploy-executions-list" %}?date_from=' + date_from + '&date_to=' + date_to)
          asset_table.ajax.reload()
        });

      }).on('click', '.btn-template-create', function () {
        var url = "{% url 'ops:file-task-create' %}";
        window.open(url, '_self');
      }).on('click', '#btn_bulk_update', function () {
        var action = $('#slct_bulk_update').val();
        var id_list = asset_table.selected;
        console.log('selected', id_list)
        if (id_list.length === 0) {
          toastr.error("未选择操作目标!");
          return false;
        }
        var the_url = "{% url 'api-ops:file-deploy-executions-list' %}";
        var data = {
          'resources': id_list
        };

        function doRemove() {
          swal({
            title: "{% trans 'Are you sure?' %}",
            text: "{% trans 'This will delete the selected execution !!!' %}",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "{% trans 'Cancel' %}",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "{% trans 'Confirm' %}",
            closeOnConfirm: false
          }, function () {
            function success(data) {
              url = setUrlParam(the_url, 'spm', data.spm);
              APIUpdateAttr({
                url: url,
                method: 'DELETE',
                success: function () {
                  $('#file_execution_list_table').DataTable().ajax.reload();
                },
                flash_message: false,
              });
              var msg = "{% trans 'Asset Deleted.' %}";
              swal("{% trans 'Asset Delete' %}", msg, "success");
            }

            function fail() {
              var msg = "{% trans 'Asset Deleting failed.' %}";
              swal("{% trans 'Asset Delete' %}", msg, "error");
            }

            APIUpdateAttr({
              url: "{% url 'api-common:resources-cache' %}",
              method: 'POST',
              body: JSON.stringify(data),
              success: success,
              error: fail
            })
          })
        }

        switch (action) {
          case 'remove':
            doRemove();
            break;
          default:
            break;
        }
        $(".ipt_check_all").prop("checked", false)

      })

    </script>
{% endblock %}
