{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load common_tags %}
{% block custom_head_css_js %}
    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="{% url 'ops:job-detail' pk=object.pk %}" class="text-center"><i
                                        class="fa fa-laptop"></i> {% trans 'Task detail' %} </a>
                            </li>
                            <li>
                                <a href="{% url 'ops:job-execution-history' pk=object.pk %}" class="text-center"><i
                                        class="fa fa-laptop"></i> {% trans 'Run history' %} </a>
                            </li>
                            {% if user.is_superuser %}
                                <li class="pull-right">
                                    <a class="btn btn-outline btn-default"
                                       href="{% url 'ops:task-update' pk=object.pk %}"><i
                                            class="fa fa-edit"></i>{% trans 'Update' %}</a>
                                </li>
                                <li class="pull-right">
                                    <a class="btn btn-outline btn-danger btn-delete-task">
                                        <i class="fa fa-trash-o"></i>{% trans 'Delete' %}
                                    </a>
                                </li>
                                <li class="pull-right">
                                    <a class="btn btn-outline btn-success btn-execute"
                                       href="###"><i
                                            class="fa fa-tasks"></i>{% trans 'Run' %}</a>
                                </li>

                            {% endif %}
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-7" style="padding-left: 0">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label"><b>{{ object.name }}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <table class="table">
                                        <tbody>
                                        <tr class="no-borders-tr">
                                            <td width="20%">{% trans 'ID' %}:</td>
                                            <td><b>{{ object.id }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">{% trans 'Name' %}:</td>
                                            <td><b>{{ object.name }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">{% trans 'Description' %}:</td>
                                            <td><b>{{ object.description }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Date created' %}:</td>
                                            <td><b>{{ object.date_created }}</b></td>
                                        </tr>

                                        <tr>
                                            <td>{% trans '创建人员' %}:</td>
                                            <td><b>{{ object.created_by }}</b></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5" style="padding-left: 0;padding-right: 0">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <i class="fa fa-info-circle"></i> {% trans '任务步骤' %}
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                        {% for task_meta_list in object.all_task_meta %}
                                            <tr>
                                                <td><b>第{{ forloop.counter }}步</b></td>
                                                {% for task_meta in task_meta_list %}
                                                    <td>
                                                        <a href="{% url 'ops:task-detail-info' pk=task_meta.id %}">{{ task_meta.name }}</a>
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'ops/_execute_argument_modal.html' %}
{% endblock %}
{% block custom_foot_js %}
    <script>
      var execute_form_data = {}

      function executeTask() {
        var url = '{% url "api-ops:job-execute" pk=DEFAULT_PK %}'.replace("{{ DEFAULT_PK }}", '{{ object.id }}')
        console.log(url)
        var props = {
          url: url,
          method: 'POST',
          data: execute_form_data,
          error: function (jqXHR) {
            toastr.error(jqXHR.responseText)
          },
          success: function (data) {
            $('#execute_argument_modal').modal('hide')
            var task_id = data.task;
            toastr.success('任务已提交')
            var url = '{% url "ops:celery-task-log" pk=DEFAULT_PK %}'.replace("{{ DEFAULT_PK }}", task_id);
            window.open(url, '', 'width=800,height=600')
          }
        }
        formSubmit(props)
      }

      function validateInputValue() {
        arguments_data = {}
        var is_validated = true
        $.each($('#argument-form div input'), function () {
          var constraint_regex = $(this).data('regex')
          var value = $(this).val()
          var id = $(this).attr('id')
          var constrain_description = $(this).data('description')
          var is_pass = new RegExp(constraint_regex).test(value)
          if (!is_pass) {
            swal(value + '格式不对', constrain_description, 'error')
            is_validated = false
          } else {
            arguments_data[id] = value
          }
        })
        execute_form_data.arguments_data = arguments_data
        return is_validated
      }

      $(document).ready(function () {
      }).on('click', '.btn-delete-task', function () {
        var $this = $(this);
        var name = "{{ object.name }}";
        var tid = "{{ object.id }}";
        var the_url = '{% url "api-ops:job-remove" pk=DEFAULT_PK %}'.replace('{{ DEFAULT_PK }}', tid);
        var redirect_url = "{% url 'ops:job-list' %}";
        objectDelete($this, name, the_url, redirect_url);
      }).on('click', '.btn-execute', function () {
        var arguments = {{ object.all_task_arguments_unique | jsonify }}
          $('#argument-form .form-group').remove()
        arguments.forEach(function (arg) {
          var input_html_template = `
            <div class="form-group required">
                <label for="ID" class="col-sm-2 control-label">NAME</label>
                <div class="col-sm-9">
                    <input required="true" type="text" class="form-control" name="ID" id="ID"
                          data-regex="REGEX" data-description="DESCRIPTION" value="VALUE" data-id="ID" placeholder="">
                </div>
            </div>
          `
          var input_html = input_html_template.replaceAll('NAME', arg.fields.name).replaceAll('ID', arg.pk).replaceAll('REGEX', arg.fields.constraint_regex).replaceAll('VALUE', arg.fields.default_value).replaceAll('DESCRIPTION', arg.fields.constraint_description)
          $('#argument-form').prepend(input_html)
        })
        $('#execute_argument_modal').modal({show: true})
      }).on('submit', '#argument-form', function (evt) {
        evt.preventDefault();
        if (!validateInputValue()) {
          return false
        } else {
          executeTask()
        }
      })

    </script>
{% endblock %}

