{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block custom_head_css_js %}
    <link href="{% static "css/plugins/sweetalert/sweetalert.css" %}" rel="stylesheet">
    <script src="{% static "js/plugins/sweetalert/sweetalert.min.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="{% url 'ops:job-detail' pk=object.pk %}" class="text-center"><i
                                        class="fa fa-laptop"></i> {% trans 'Task detail' %} </a>
                            </li>
                            <li class="active">
                                <a href="{% url 'ops:job-execution-history' pk=object.pk %}" class="text-center"><i
                                        class="fa fa-laptop"></i> {% trans 'Run history' %} </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-12" style="padding-left: 0">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span style="float: left">{% trans 'History of ' %} <b>{{ object.name }}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <table class="table table-hover " id="job-history-list-table">
                                        <thead>
                                        <tr>
                                            <th class="text-center">
                                                <input type="checkbox" id="check_all" class="ipt_check_all">
                                            </th>
                                            <th>{% trans 'Date start' %}</th>
                                            <th>{% trans 'Execute user' %}</th>
                                            <th>{% trans '是否完成' %}</th>
                                            <th>{% trans '执行日志' %}</th>
                                            <th>{% trans 'Task 执行情况' %}</th>
                                            <th>{% trans 'Action' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'ops/_json_content_modal.html' %}
{% endblock %}
{% block custom_foot_js %}
    <script>
      var table_data = {}
      var execution_table = 0

      function showInfo(asset_id) {
        var $body_modal = $('#content_modal')
        $body_modal.modal({show: true})
        $('#content-body').empty().text(JSON.stringify(table_data[asset_id], null, 4))
        $body_modal.modal({show: true})
      }

      function openDetail(asset_id) {
        var url = '{% url "ops:job-execution-detail" pk=DEFAULT_PK %}'.replace("{{ DEFAULT_PK }}", asset_id)
        window.open(url)

      }

      function cancelExecution(asset_id) {
        $.ajax({
          url: '{% url "api-ops:job-execution-detail" pk=DEFAULT_PK %}'.replace("{{ DEFAULT_PK }}", asset_id),
          type: 'PATCH',
          data: JSON.stringify({state: 'cancel'}),
          contentType: "application/json",
          success: function () {
            execution_table.ajax.reload()
            toastr.success('设置完成!')
          },
          error: function (data) {
            toastr.error(data)
          }
        })
      }

      function initTable() {
        var options = {
          ele: $('#job-history-list-table'),
          columnDefs: [
            {
              targets: 1, createdCell: function (td, cellData, rowData) {
                var d = new Date(cellData);
                $(td).html(d.toLocaleString());
              }
            },
            {
              targets: 3, createdCell: function (td, cellData) {
                if (cellData === 'finish') {
                  $(td).html('<i class="fa fa-check text-navy "></i>')
                }
                if (cellData === 'cancel') {
                  $(td).html('<i class="fa fa-times text-danger"></i>')
                }
                if (cellData === 'executing') {
                  $(td).html('<i class="fa fa-circle-o-notch text-warn"></i>')
                }
              }
            },
            {
              targets: 4, createdCell: function (td, cellData, rowData) {
                var url = '{% url "ops:celery-task-log" pk=DEFAULT_PK %}'.replace("{{ DEFAULT_PK }}", cellData)
                html = `<a href="${url}" target="_blank">查看</a>`
                $(td).html(html);
              }
            },
            {
              targets: 5, createdCell: function (td, cellData, rowData) {
                var html = ''
                html += '<button class="btn btn-info btn-xs" onclick="openDetail(\'' + cellData + '\')">查看</button>'
                $(td).html(html);
              }
            },
            {
              targets: 6, createdCell: function (td, cellData, rowData) {
                var html = ''
                if (rowData.state == 'executing') {
                  html += '<button class="btn btn-danger btn-xs" onclick="cancelExecution(\'' + cellData + '\')">终止</button>'
                } else {
                  html += '<button class="btn btn-danger btn-xs" disabled onclick="cancelExecution(\'' + cellData + '\')">终止</button>'
                }
                $(td).html(html)
              }
            },
          ],
          ajax_url: '{% url "api-ops:job-execution-list" %}?job={{ object.pk }}',
          columns: [
            {data: 'id'},
            {data: "date_execute"},
            {data: "execute_user",},
            {data: "state"},
            {data: "id", orderable: false},
            {data: "id", orderable: false},
            {data: "id", orderable: false},
          ],
        };
        execution_table = jumpserver.initServerSideDataTable(options);
        return execution_table
      }

      $(document).ready(function () {
        initTable();
      })

    </script>
{% endblock %}
